
.subtitle{
    text-align: center;
    font-family: 'Poppins';
    margin-top: 25px;
    width: 850px;
    height: auto;
}

.StudyFlow {
    justify-content: flex-start;
    position: relative;
    margin-top: -8px;
    margin-left: 20px; 
    border-bottom: 1px solid rgb(198, 198, 198);
    margin-left: -5px;
    text-align: center;
}

.sidebar {
    height: 100%; 
    width: 200px; 
    position: fixed;
    left: 0; 
    top: 0; 
    background-color: #ffffff; 
    padding-top: 20px; 
    border-right: 1px solid rgb(198, 198, 198);
    font-family: 'Poppins';

}

.top {
    display: flex;
    justify-content: flex-end !important;
    padding: 5px;
    margin-right: 10px;
    height: 5rem;
}

.sidebar a {
    margin-left: 55px;
}

.Title{
    text-align: center;
    font-family: 'Poppins';
    padding-top: 40px;
}

.texto{
    color: black;
    background-color: #fff;
    font-family: 'Poppins';
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
    width: 850px;
    margin-top: 150px;
    margin-bottom: -20px;
    text-align: left;
    position: relative;
    bottom: 30px;
}

.blocoCinza{
    background-color: #EEF2F5;
    margin-right: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.telefone{
    padding-right: 20px;
    border:  2px rgb(255, 255, 255) solid;
    border-radius: 20px;
    width: 230px;
    height: 280px;
    background-color: white;
    cursor: pointer;
} 

.telefone > h2 {
    margin-top: -20px;
    margin-left: 15px;
}

.chat {
    padding: 30px;
    border:  2px rgb(255, 255, 255) solid;
    border-radius: 20px;
    height: 220px;
    width: 200px;
    margin-left: 20px;
    background-color: white;
    cursor: pointer;
}

.e-mail {
    padding: 30px;
    border: rgb(255, 255, 255) solid 2px;
    border-radius: 20px;
    margin-left: 50px;
    height: 220px;
    width: 200px;
    background-color: white;
    cursor: pointer;
}

h2{
    color: #324361;
    font-family: 'Poppins';
    text-align: center;
}

.imagens {
    display: flex; 
    justify-content: center; 
    gap: 20px; 
    margin-top: 60px;
    margin-bottom: 30px;
}

.imagem1{
    height: 190px;
    width: auto;
    padding-left: 40px;
    margin-top: 30px;
}

.imagem2{
    height: 150px;
    width: auto;
    padding-left: 20px;

}

.imagem3{
    height: 150px;
    width: auto;
    padding-left: 22px;
}

h3{
    padding: 11px;
}

.perfil{
    height: 40px;
}

.Tarefas{
    text-decoration: none;
    color: #909090;
}
.Ajuda{
    text-decoration: none;
    color: blue ;
}

