<!DOCTYPE html>
<html lang="pt">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudyFlow</title>
    <!-- BOOTSTRAP -->
        <link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.min.css">

    <!-- ICONE -->
        <link rel="icon" href="../src/img/icone.png">

    <!-- FONT -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        
    <!-- CSS -->
        <link rel="stylesheet" href="../src/css/ajuda.css">
        <link rel="stylesheet" href="../src/css/home.css">

    <!-- FONT AWASOME -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>

    <!-- Js -->
        <script src="../src/js/carregamento.js" defer></script>
        <script src="../src/js/login_cadastro.js" defer></script>

   
</head>
<body>

    <div class="container-fluid">
            
        <div class="row nav1">
            <div class="col-lg-3 center">
                <img src="../src/img/logo.png" class="image" alt="logo">
            </div>

            <div class="col-lg-6 center">
                <div class="input-group mb-3 search">
                    <span class="input-group-text" id="basic-addon1">
                        <img src="../src/img/search-icon.png" alt="Procurar">
                    </span>
                    <input type="text" class="form-control" placeholder="Buscar tarefas...."  aria-describedby="basic-addon1">
                </div>
            </div>

            <div class="col-lg-3 center">
                <div class="perfil">
                    <div>
                        <a href="../views/ajuda.html" class="ajuda">
                            <img src="../src/img/ajuda-icon.png" alt="Perfil">
                        </a>
                    </div>
                   <div>
                        <a href="../views/perfil.html" class="perfil-foto">
                            <img class="perfil-img" src="../src/img/Group 560.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="horizontal-line"></div>

        </div>

        <div class="row ">
            <div class="col-lg-2 center nav2">
                <div class="links">
                    <ul>
                        <li>
                            <a href="../views/home.html" class="center">
                                <div>
                                    <img src="../src/img/task-square-icon.png" alt="">
                                </div>
                                <p>Tarefa</p>
                            </a>
                        </li>
                        <li>
                            <a href="../views/ajuda.html">
                                <div>
                                    <img src="../src/img/config-icon.png" alt="">
                                </div>
                                <p>Ajuda</p>
                            </a>
                        </li>
                    </ul>
                </div>
            
            </div>
            <div class="col-lg-1">
                <div class="vertical-line"></div>
            </div>

            <div class="col-lg-9 center cadastro">
                <div class="row">
                    <div class="blocoCinza">

                        <h1 class="Title">Como você está se sentindo?</h1>
                        <div class="col-md-12">
                            <p class="subtitle">Se você está passando por um momento difícil e precisa conversar, estamos aqui para ajudar. O CVV oferece apoio emocional
                                gratuito e sigiloso. Conecte-se agora mesmo com um voluntário que pode te ouvir e oferecer suporte. Seu bem-estar é 
                                importante. Não hesite em buscar ajuda.
                            </p>
                        </div>
                    
                        <div class="row imagens">
                            <div class="col-xl-3">
                                <a href="telefone"> 
                                    <div class="telefone">
                                        <img class="imagens1" src="../src/img/front view of yellow retro phone.svg"alt="retro">
                                        <h2>TELEFONE</h2>
                                    </div>
                                </a>  
                            </div>

                            <div class="col-xl-3">
                                  <a href="chat">
                                      <div class="chat">
                                          <img class="imagens1" src="../src/img/phone screen with support chat.svg" alt="phone">                                    
                                          <h2>CHAT</h2>
                                      </div>
                                  </a>
                            </div>

                            <div class="col-xl-3">
                                <a href="e-mail">
                                    <div class="e-mail">
                                        <img class="imagens1" src="../src/img/Receiving mail messages via email.svg" alt="email">
                                        <h2>E-MAIL</h2>
                                    </div>
                                <a>
                            </div> 
                
                        </div>

                        <div class="col-md-12 container-texto">
                            <div class="texto">
                                <p>
                                    Fundado em São Paulo em 1962, o CVV - Centro de Valorização da Vida é um serviço voluntário gratuito de apoio emocional e prevenção do suicidio para todas as pessoas que querem e precisam conversar, sob total sigilo e anonimato.
                                        <br>
                                        <br>
                                     Oferece atendimento pelo telefone 188 (24 horas e sem custo de ligação), por chat e-mail e pessoalmente. Nestes canais, são feitos mais de 3 milhões de atendimentos anuais, por aproximadamente 3.500 voluntários, presentes em 20 estados, além do
                                    Distrito Federal.
                                        <br>
                                        <br>
                                    É uma associação civil sem fins lucrativos, filantrópica, que é reconhecida como de Utilidade Pública Federal desde 1973, A instituição é associoda do Befrienders
                                    Wortdwide, que congrega entidades congéneres de todo o mundo, e participou da força-tarefa que elaborou a Política Nacional de Prevenção do Suicídio, do Ministério da Saúde, com quem mantém, desde 2015, um acordo de cooperação que permitiu a implantação do 188, linha nocional gratuita de prevenção do suicídio.
                                </p>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <script src="../API/getUser.js"></script>

    
   
</body>
</html> 