<!doctype html>
    <html lang="PT-br">
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>StudyFlow</title>
        <!-- BOOTSTRAP -->
            <link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.min.css">

        <!-- ICONE -->
            <link rel="icon" href="../src/img/icone.png">
       
        <!-- FONT -->
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        
        <!-- CSS -->
            <link rel="stylesheet" href="../src/css/home.css">
            <link rel="stylesheet" href="../src/css/editar.css">
            <link rel="stylesheet" href="../src/css/responsividade.css">


        <!-- SWEET ALERT -->
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


        <!-- FONT AWASOME -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>
        
        <!-- Js -->
            <script src="" defer></script>
      </head>
      <body>
        <div class="container-fluid">
            
            <div class="row nav1">
                <div class="col-lg-3 center">
                    <img src="../src/img/logo.png" class="image" alt="logo">
                </div>

                <div class="col-lg-6 center">
                    <div class="input-group mb-3 search">
                        <span class="input-group-text" id="basic-addon1">
                            <img src="../src/img/search-icon.png" alt="Procurar">
                        </span>
                        <input type="text" class="form-control" placeholder="Buscar tarefas...."  aria-describedby="basic-addon1">
                    </div>
                </div>

                <div class="col-lg-3 center">
                    <div class="perfil">
                        <div>
                            <a href="../views/ajuda.html" class="ajuda">
                                <img src="../src/img/ajuda-icon.png" alt="Perfil">
                            </a>
                        </div>
                       <div>
                            <a href="../views/perfil.html" class="perfil-foto">
                                <img class="perfil-img" src="../src/img/Group 560.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="horizontal-line"></div>

            </div>
            
            <div class="row">
                <div class="container-edit">
                    <h1>Editar tarefa...</h1>
                    <!-- Campo de Título -->

                    <div class="teste">
                        <div>
                            <label for="titulo" class="form-label">Título</label>
                            <input type="text" class="form-control custom-input" id="titulo" placeholder="Insira o título">
                        </div>
                    </div>

                    <!-- Campo de Descrição -->
                    <div class="teste">
                        <div>
                            <label for="descricao" class="form-label">Descrição</label>
                            <input type="text" class="form-control custom-input" id="descricao" placeholder="Insira a descrição">
                        </div>
                    </div>

                    <!-- Campo oculto para armazenar o ID da tarefa -->
                    <input type="hidden" id="tarefaId" value="">
                </div>
            </div>

            <div class="row">
                <div class="row-edit">
                    <div class="box-edit">
                        <div class="row">
                            <div class="col-lg-6">
                                <h5>Prioridade</h5>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="prioridade" id="prioridade-baixa" value="1">
                                    <label class="form-check-label" for="prioridade-baixa">
                                    <span class="badge bg-success me-2"><div class="corvermelha"></div></span> Baixa
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="prioridade" id="prioridade-media" value="2">
                                    <label class="form-check-label" for="prioridade-media">
                                    <span class="badge bg-warning me-2"><div class="corverde"></div></span> Média
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="prioridade" id="prioridade-alta" value="3">
                                    <label class="form-check-label" for="prioridade-alta">
                                    <span class="badge bg-danger me-2"><div class="coramarela"></div></span> Alta
                                    </label>
                                </div>
                            </div>
            
                            <div class="col-lg-6">
                                <h5>Categoria</h5>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="categoria" id="categoria-fazer" value="1">
                                    <label class="form-check-label" for="categoria-fazer">
                                    <span class="badge bg-danger me-2"><div class="coramarela"></div></span> Fazer
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="categoria" id="categoria-andamento" value="2">
                                    <label class="form-check-label" for="categoria-andamento">
                                    <span class="badge bg-warning me-2"><div class="corvermelha"></div></span> Em andamento
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="categoria" id="categoria-concluida" value="3">
                                    <label class="form-check-label" for="categoria-concluida">
                                    <span class="badge bg-success me-2"><div class="corverde"></div></span> Concluída
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                
                    
            
            </div>
            <div class="row">
                <div class="gradient-background">
                    <button type="button" class="btn-edit btn btn-outline-primary" onclick="history.back()">Cancelar</button>
                    <button type="submit" class="btn-edit btn btn-primary">Salvar</button>
                </div>
            </div>
        </div>

        <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="../API/getCookie.js"></script>
        <script src="../API/getTask.js"></script>
        <script src="../API/editTask.js"></script>

    </body>
</html>