<!doctype html>
    <html lang="PT-br">
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>StudyFlow</title>
        <!-- BOOTSTRAP -->
            <link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.min.css">

        <!-- ICONE -->
            <link rel="icon" href="../src/img/icone.png">
       
        <!-- FONT -->
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        
        <!-- CSS -->
            <link rel="stylesheet" href="../src/css/home.css">
            <link rel="stylesheet" href="../src/css/perfil.css">
            <link rel="stylesheet" href="../src/css/responsividade.css">

        <!-- SWEET ALERT -->
           <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


        <!-- FONT AWASOME -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>
        
        <!-- Js -->
            <script src="../src/js/home.js" defer></script>
      </head>
      <body>
        <div class="container-fluid">
            
            <div class="row nav1">
                <div class="col-lg-3 center">
                    <img src="../src/img/logo.png" class="image" alt="logo">
                </div>

                <div class="col-lg-6 container-search">
                    <div class="input-group mb-3 search">
                        
                        <button class="btn btn-outline-secondary" id="searchButton">
                                <img src="../src/img/search-icon.png" alt="Procurar">
                        </button>
                        <input type="text" class="form-control" id="searchInput" placeholder="Buscar tarefas...." aria-describedby="basic-addon1">
                    </div>
                </div>

                <div class="col-lg-3 center">
                    <div class="perfil">
                        <div>
                            <a href="../views/ajuda.html" class="ajuda">
                                <img src="../src/img/ajuda-icon.png" alt="Perfil">
                            </a>
                        </div>
                       <div>
                            <a href="../views/perfil.html" class="perfil-foto">
                                <img class="perfil-img" src="../src/img/Group 560.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="horizontal-line"></div>

            </div>
            
            <div class="row ">
                <div class="col-lg-2 center nav2">
                    <div class="links">
                        <ul>
                            <li>
                                <a href="../views/home.html" class="center">
                                    <div>
                                        <img src="../src/img/task-square-icon.png" alt="">
                                    </div>
                                    <p>Tarefa</p>
                                </a>
                            </li>
                            <li>
                                <a href="../views/ajuda.html">
                                    <div>
                                        <img src="../src/img/config-icon.png" alt="">
                                    </div>
                                    <p>Ajuda</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="apoio">
                        <div class="fundo">
                            <div class="fundo-apoio"></div>
                            <img src="../src/img/medical-doctor.png" alt="Medico">
                        </div>
                        <div>
                            <h2>Apoio profissional</h2>
                            <p>Precisa de apoio? Converse diretamente com um profissional de saúde para orientação e suporte</p>
                            <a href="">
                                <button type="button">Falar Agora</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="vertical-line"></div>

                    <div class="perfil-edit">
                        <h2>Foto de perfil</h2>
                        <div class="imagem-perfil">
                            <img class="perfil-img" src="../src/img/Group 560.svg" alt="">
                        </div>
    
                        <div class="buttons2">
                            <div class="continue-button">
                                <button type="button" class="btn-edit btn btn-primary" onclick="fetchUserProfile(event)">Carregar nova foto</button>
                                <button type="button" class="btn-edit">Excluir</button>
                            </div>
                        </div>
                    </div>
                </div>
                
                

                <div class="col-lg-8 center cadastro">
                    <div class="row">
                        <div class="container">
                            <div class="form">
                                <form action="#">
                                    <div class="form-header">
                                        <div class="title">
                                            <h1>Editar Perfil</h1>
                                        </div>
                                    </div>
                    
                                    <div class="input-group">
                                        <div class="input-box">
                                            <label for="nome">Nome</label>
                                            <input id="nome" type="nome" name="nome" placeholder="Digite seu nome" required>
                                        </div>
                                        <div class="input-box ">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group input-box">
                                                        <label class="gender-title" for="genderSelect">Gênero</label>
                                                        <select class="form-control custom-select" id="genderSelect" name="gender">
                                                            <option value="" disabled selected>Selecione...</option>
                                                            <option value="f">Feminino</option>
                                                            <option value="m">Masculino</option>
                                                            <option value="null">Prefiro não dizer</option>
                                                        </select>
                                                    </div>
                                                    
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group input-box">
                                                        <label class="gender-title" for="birthDate">Data de Nascimento</label>
                                                        <input type="date" class="form-control" id="birthDate" name="birthDate" placeholder="DD/MM/AAAA">
                                                    </div>
                                                                                                  
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-box">
                                            <label for="email">E-mail</label>
                                            <input id="email" type="email" name="email" placeholder="Digite seu e-mail" required>
                                        </div>
                    
                                        <div class="input-box">
                                            <label for="password">Senha</label>
                                            <input id="password" type="password" name="password" placeholder="Digite sua senha" required>
                                        </div>
                                    </div>
                                   
                    
                                    <div class="continue-button">
                                        <div class="buttons">
                                            <div class="continue-button">
                                                <button type="button" class="btn-edit btn " onclick="history.back()">Voltar</button>
                                                <button type="button" class="btn-edit btn btn-primary" onclick="EditUser(event)">Salvar</button>
                                            </div>
                                        </div>                                    
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

        <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="../API/populateProfile.js"></script>
        <script src="../API/getUser.js"></script>
        <script src="../API/edituser.js"></script>
        <script src="../API/getCookie.js"></script>


    </body>
</html>